{% extends 'base.html' %}

{% block content %}
    {% for abbr, city in departures.items() %}
        {% if abbr == direction %}
        <h1 class="display-5 mt-4">Летим <span data-test="from">{{ city }}</span></h1>
        {% endif %}
    {% endfor %}
    {% set min = search_tours|min(attribute="price") %}
    {% set max = search_tours|max(attribute="price") %}
    {% set min = search_tours|min(attribute="nights") %}
    {% set max = search_tours|max(attribute="nights") %}
    <p class="mb-4" >Найдено <span data-test="tourcount">{{ search_tours|length }}</span> туров, от <span data-test="pricemin">{{ min.price }}</span> до <span data-test="pricemax">{{ max.price }}</span> и от <span data-test="nightsmax">{{ min.nights }}</span> ночей до <span data-test="nightsmax">{{ max.nights }}</span> ночей</p>


<div class="row mt-5" data-test="cards">
    {% for tour_info in search_tours %}
    <div class="col-4" data-test="card">
        <div class="card mb-3" >
            <img src="{{ tour_info.picture }}" class="card-img-top img-fluid" data-test="picture">
            <div class="card-body">
                <h5 class="card-title">{{ tour_info.title }}</h5>
                <p class="card-text">{{ tour_info.description }}</p>
                <a href="/tours/{{ tour_info.tour_id }}/" class="btn btn-sm btn-primary" data-test="tourlink">Подробнее</a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock %}